{% extends 'base.html' %}

{% block title %}Book Search{% endblock %}

{% block main %}


<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Advanced Book Search</h4>
      </div>
      <div class="card-body">
        <form action="results" method="post">
          <label for="author">Author:</label>
          <input type="search" class="form-control" name="author" id="author" value="">
          <br>
          <label for="publisher">Publisher:</label>
          <input type="search" class="form-control" name="publisher" id="publisher" value="">
          <br>
          <label for="language">Language:</label>
          <select class="form-control" name="language" id="language">
            <option value="" selected>any language</option>
            <option lang="de" value="deutsch">Deutsch</option>
            <option lang="en" value="english">English</option>
            <option lang="fr" value="francais">Français</option>
            <option lang="it" value="italiano">Italiano</option>
            <option lang="pt" value="portugues">Português</option>
          </select>
          <br>
          <label for="isbn">ISBN:</label>
          <input type="search" class="form-control" name="isbn" id="isbn" value="">
          <br>
          <label for="words">with the words:</label>
          <input type="search" class="form-control" name="words" id="words" value="">
          <br>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  {% if searches %}
  <h2>Seaches you have made:</h2>
  <ul>
    {% for author, publisher, language, isbn, words in searches['history'] %}
    <li>
      {% if author!='' %}<b>Author:</b> {{ author }} {% endif %}
      {% if publisher!='' %}<b>Publisher:</b> {{ publisher }} {% endif %}
      {% if language!='' %}<b>Language:</b> {{ language }} {% endif %}
      {% if isbn!='' %}<b>ISBN:</b> {{ isbn }} {% endif %}
      {% if words!='' %}<b>with the words:</b> {{ words }} {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}